body {
    background-image: url('../บางบอน.png.jpg'); /* ใส่ชื่อไฟล์รูปภาพที่คุณอัปโหลดขึ้นไป */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
